.style-3 {
    width: 100px;
    height: 100px;
    background-color: bisque;
}

* {
    color: red
}


/*селектор html*/


/*селектор елемента*/

p {
    background-color: aquamarine;
    color: blue;
}


/*селекторы класса через . перебивают другие стили - т.к это более спецефичен через селектор по елементу и так далее
*/

.blue {
    color: red;
    background-color: black;
    font-size: 20;
}


/*СЕЛЕКТТОРА ИДЕНТИФИКАТОРА - МОЖЕТ встречаться только один раз на странице через #*/

#green {
    color: green;
}
/*Селекторы потомков*/
ul li {
    color: yellow;
    background-color: black;
}
/*Чтобы отформатировать стиль определенного елемента --вводим класс*/
ul.first-list li {
    color: red;
    background-color: aqua
}


/*Дочерний елемент класса работает только если тег с данными классов вложен в section сразу после без промежуточных*/

section > .first-article {
    color: blue;
    background-color: black;
}


/*Сестренские селекторы
ОТношения между елдементами с общим родителем
*/

a + a {
    color: darkgoldenrod;
    font-size: 30px;
}


/*если выше между тегами a будет другой тег то стиль перестанет действовать для второй сылки чтобы это исправить можно сделать a~a*/


/*Селекторы псевдокласса
Классы не приклепленные к html тегам
Они позволяют применитоь css правила к елементам при совершении
события или подчиняющиеся опреденному правилу
*/

a:hover {
    color: black;
    font-size: 40px;
}


/*Селектор структурных псевдоклассов
Структурные псевдоклассы отбирают дочерные елементы в соотвествии
с параметром в ()
*/

a:nth-child(odd) {
    /*каждая нечетная сылка стала зеленой*/
    color: green;
}

.checkps:hover{
        color: black;
    font-size: 30px;
}
