.text_block_2{
    width:150px;
    padding:50px;
    margin:50px;
    box-sizing: border-box/*для задания размера блока а не контента
        с помощью width*/

}


.text_block_3{
    background-color: coral;
    width:170px;
    max-width: 130px;/*Ограничение ширины*/

}
/*блочные елементы могут содержать блочные и строчные елементы
для которых родитель является контейнером

Блочные елементы используются для построения каркаса страницы
больших блоков текстов и тд

Строчные елементы - образуют внутристрочные контейнеры
Занимают только лишь то место, необходимое для отображения содержимого
Строчным елементам нельзя задать размер - отступы и тд
Пример - a, img, span etc
Стоит запомнить что строчные елементы могут содержать только данные и
другие строчные елементы
- ИСКЛЮЧЕНИЕ тег <a> - но прии условии что он не будет содержать интерактивные блоки - сылки и кнопки
Строчные елементы обычно используют для редактирования текста и тд


Строчно блочные елементы  - встроеные елементы - верхние и нижние оступы -а также ширину и высоту. Пример - input/ object/textarea/ button

СВОЙСТВО display (много значений )
    отвечает за вывод и визуальное оформление елемента на странице
    также можно изменить тип елемента




*/

.forborder{
    border:2px solid red;
    width:200px;
    height:100px;
    overflow: auto; /*hidden auto scroll*/
}

/*единицы измерения
  Абсолютные и относительные
     Абсолютные - делятся на физические и (визуальные)пиксели
        Физическе - для печати
        Визуальные - широко используются
  Относительные - (проценты) - если не задан размер шрифта то по умолчанию 16 пикселей. Высчитываются относительно свойств родительского елемента.
*/

.text_ed_izm{
font-size: 70%;/* 70 %относительно от умолчания 16 px*/
}

/*через дочерные */
.text_ed_izm > div{
font-size: 200%;/* 200 %относительно от умолчания родительского елемента
    то есть от  text_ed_izm*
также можно использовать em = 1em = 100%^/
font-size: 2em; = font-size: 200%;
также есть rem - задается от размера Корневого елемента

}


